<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <%= render partial: 'pages/header', locals: {
            icon: 'home',
            breadcrumb_1: 'Tables',
            breadcrumb_2: 'Tables'
      } %>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <%= render 'pages/tables/light' %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= render 'pages/tables/dark' %>
    </div>
  </div>
  <%= render 'pages/footer' %>
</div>
