<div class="row align-items-center py-4">
  <div class="col-lg-6 col-7">
    <h6 class="h2 text-white d-inline-block mb-0"><%= breadcrumb_2 %></h6>
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
      <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
        <li class="breadcrumb-item"><a href="#"><%= fa_icon icon %></i></a></li>
        <li class="breadcrumb-item"><a href="#"><%= breadcrumb_1 %></a></li>
        <li class="breadcrumb-item active" aria-current="page"><%= breadcrumb_2 %></li>
      </ol>
    </nav>
  </div>
  <div class="col-lg-6 col-5 text-right">
    <a href="#" class="btn btn-sm btn-neutral">New</a>
    <a href="#" class="btn btn-sm btn-neutral">Filters</a>
  </div>
</div>
