<div class="avatar-group">
  <a href="#" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" data-original-title="Ryan Tompson">
    <%= image_tag "theme/team-1.jpg", alt: "..." %>
  </a>
  <a href="#" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" data-original-title="Romina Hadid">
    <%= image_tag "theme/team-2.jpg", alt: "..." %>
  </a>
  <a href="#" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" data-original-title="Alexander Smith">
    <%= image_tag "theme/team-3.jpg", alt: "..." %>
  </a>
  <a href="#" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" data-original-title="Jessica Doe">
    <%= image_tag "theme/team-4.jpg", alt: "..." %>
  </a>
</div>
