<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html>
  <%= render 'shared/head' %>
  <body>
    <%= render 'pages/sidenav' %>
    <div class="main-content" id="panel">
      <%= render partial: 'pages/topnav', locals: { bg_color_class: yield(:topnav_bg) } %>
      <%= yield %>
    </div>
  </body>
</html>
